.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

md-tooltip {
  max-width: 300px;
}

md-tooltip .md-background {
    border-radius: 4px;
    padding-bottom: 8px;
}

md-tooltip .md-content {
  white-space: normal;
  height: inherit;
}

@media screen and (min-width: 600px){
  md-tooltip .md-content {
    white-space: normal;
    height: inherit;
  }
}

md-input-container .mdi{
  font-size: 24px;
}

.correct-0{
  background-color: orange;
}
.correct-1{
  background-color: green;
}
.correct-2{
  background-color: yellow;
}
.correct-3{
  background-color: red;
}

path{
  cursor: pointer;
}


tr.active td{
  background-color: orange;
}

.auto{
  background-color: lightgreen;
}

.manual{
  background-color: lightblue;
}

.s-threshold, .mse-threshold{
  background-color: red;
}

.scan-pages table{
  margin-right: 15px;
  width: 100%;
  /* firefox hack */
  display: block;
  max-height: 10px;
}

.scan-pages table td, .scan-pages table th{
  white-space: nowrap;
}

.scan-preview{
  background-color: lightgrey;
}

.scan-preview{
  color: grey;
}

.scan-reset{
  position: absolute;
  top: 5px;
  right: 5px;
}

.text-right{
  text-align: right;
}
