.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  padding: 0;
}


md-dialog md-dialog-content {
  padding: 24px;
}



.no-wrap, .no-wrap * {
  white-space: nowrap;
}


.no-error-input-container .md-errors-spacer {
  display: none;
}
.no-error-input-container md-input-container,
md-input-container.no-error-input-container {
  margin-bottom: 0;
}

.section-options.no-error-input-container md-input-container,
.section-header.no-error-input-container md-input-container {
  margin-top: 0;
}

md-tooltip {
  max-width: 300px;
}

md-tooltip .md-background {
    border-radius: 4px;
    padding-bottom: 8px;
}

md-tooltip .md-content {
  white-space: normal;
  height: inherit;
}

@media screen and (min-width: 600px){
  md-tooltip .md-content {
    white-space: normal;
    height: inherit;
  }
}

md-input-container .mdi{
  font-size: 24px;
}

.correct-0{
  background-color: orange;
}
.correct-1{
  background-color: green;
}
.correct-2{
  background-color: yellow;
}
.correct-3{
  background-color: red;
}

.projects .subheader td {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

path{
  cursor: pointer;
}


tr.active td{
  background-color: orange;
}

.auto{
  background-color: lightgreen;
}

.manual{
  background-color: lightblue;
}

.s-threshold, .mse-threshold{
  background-color: red;
}

.scan-pages table{
  margin-right: 15px;
  width: 100%;
  /* firefox hack */
  display: block;
  max-height: 10px;
}

.scan-pages table td, .scan-pages table th{
  white-space: nowrap;
}

.scan-preview{
  color: rgb(158, 158, 158);
  background-color: rgb(238,238,238);
}

.scan-reset{
  position: absolute;
  top: 5px;
  right: 5px;
}

.scan-rotate {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.sort-asc::after{
  content: '▲'
}

.sort-desc::after{
  content: '▼'
}


.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
}

.section-menu md-checkbox{
  margin: 0;
}

.section-menu > div > p,
.section-menu .md-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-menu .md-button.md-icon-button {
    min-width: 48px;
}

.section-menu > a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;
}
.question-menu > a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;
}

.question-menu strong{
  font-weight: bold;
}

.question-menu em{
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.question-menu-description {
    min-width: 0;
}

.question-stat{
  width: 400px;
  margin: 20px;
}
.answer-stat {
  white-space: nowrap;
}

.grade-pass{
  color: rgb(69, 134, 22);
}

.grade-fail{
  color: rgb(255, 71, 19);
}

.grade-remed{
  color: rgb(245, 166, 65);
}

.no-background{
  background-color: transparent;
}

.upload-list {
  max-height: 300px;
}

.scan-missing-list {
  max-height: 200px;
}

.drop-box, .thumb-container{
  border: 3px solid transparent;
}

.dragover, md-input-container .md-input.dragover{
  border: 3px dashed rgb(230, 20, 20);
}

.scan-delete {
  float: right;
  font-size: 24px;
}
.button-remove {
    font-size: 24px;
    min-width: 24px;
    margin: 0;
    min-height: 24px;
    line-height: 24px;
}

.why-V{
  background-color: rgb(241, 233, 56);
}

.why-E{
  background-color: rgb(255, 84, 84);
}

.why-P{
  background-color: rgb(213, 188, 236);
}

.score a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.grades td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.mdi {
  font-size: 24px;
}

.section-nowrap span{
  white-space: nowrap;
}

.section-nowrap md-checkbox{
  min-width: auto;
}

.section-menu {
  padding: 4px;
}

.section-menu.active {
  background-color: #f7f7f7;
}

.section-menu .active{
  color: #283593;
}

.section-options {
  background-color: rgb(238,238,238);
}
.section-options md-select {
  padding: 4px;
  margin: 0;
}

.section-options md-checkbox {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}

.section-header md-input-container{
  padding: 0;
}

.no-padding, [layout-padding] > [flex].no-padding {
  padding: 0;
  min-height: auto;
}

.section-header md-input-container .md-input{
  font-weight: bold;
  font-size: 22px;
}

.section-header .md-button, .printed-bar .md-button{
  text-overflow: ellipsis;
  display: block;
}

.section-header h3{
  margin: 0;
  padding-bottom: 3px;
  padding-right: 8px;
  font-size: 22px;
}

.question-header h3{
  margin: 0;
}


.two-columns{

   -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
 -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;

}

.question .invalid, .question-menu .invalid{
  color: #fbb450;
}

.question-menu {
  padding: 2px 0 2px 2px;
}

.question{
  margin-top: 2em;
}

.question.OPEN{
  padding-bottom: 30px;
}

.question-add{
  margin-top: 2em;
  margin-bottom: 4em;
}

.question .section-options md-input-container{
  width: 50px;
  margin: 0 8px;
}

.code-editor md-dialog-content {
  padding: 0 1px;
}

md-input-container.question-scoring{
  min-width: 100px;
}

.answer-box {
  padding-right: 0;
}

.answer{
  margin-bottom: 1em;
  padding-right: 0;
}

.answer-horizontal {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.answer-none{
  width: 100%;
}

.answer-toggle{
  width: 50px;
}

.answer-toggle .md-container{
  width: 24px;
  height: 24px;
}
.answer-toggle .md-icon{
  width: 24px;
  height: 24px;
  border-width: 0;
  transition: all linear 0.3s;
  text-align: center;
  cursor: pointer;
  font: normal normal normal 24px/1 "Material Design Icons";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
md-checkbox.md-checked.answer-toggle .md-icon:after{
  display: none;
}
.answer-toggle.mdi-close::before,
.answer-toggle.mdi-check::before{
  content: none;
}

.answer-toggle.mdi-close .md-icon{
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 12px;

}

.answer-toggle.mdi-close .md-icon::before {
    content: "\f156";
}

.answer-toggle.mdi-check .md-icon::before {
    content: "\f12c";
}

.answer-toggle.mdi-check .md-icon{
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.answer-open{
  border: 2px solid #000;
  margin: 0 30px;
  padding: 8px;
  clear: both;
}

.answer-open p {
  width: 100%;
  margin: 0;
  line-height: 42px;
}

.answer-open p.dots{
  border-bottom: 1px dashed #333;
}

.answer-open-points {
  background-color: rgb(238,238,238);
  padding: 4px;
  margin: 30px 30px 0 30px;
  float:right;
}

.answer-open-points div.point{
  margin: 0 4px 0 1px;
}

.answer-open-points div.circle {
  border: 1px solid #000;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #fff;
}

.answer-open-points div.circle.last{
  background-color: #000;
}

.wysihtml5-command-active .mdi {
  border: 1px solid #000;
}

.myrichtexteditor {
  position: relative;
}

.myrichtexteditor .toolbar{
  margin-bottom: 8px;
  position: absolute;
  top: -44px;
  left: 8px;
  right: 8px;
  background-color: #fff;
  z-index: 999;
}

.myrichtexteditor {
  border: 1px solid #eee;
  text-align: justify;
}

.myrichtexteditor .preview{
  min-height: 2em;
}
.myrichtexteditor .hide{
  display: none;
}

.myrichtexteditor var{
    font-family: monospace;
    white-space: pre;
    color: red;
    font-size: 16px;
    display: inline;
}

.myrichtexteditor p {
  margin: 0.3em 0;
  padding: 0;
}

.myrichtexteditor box {
  border: 1px solid #000;
  display: block;
}

.myrichtexteditor tt{
    margin: 0;
    display: inline;
}

.myrichtexteditor img.border{
    border: 1px solid black;
}

.myrichtexteditor img.options{
  filter: blur(2px) grayscale(80%);
}

.myrichtexteditor textarea {
  width: 100%;
  min-height: 300px;
}

.myrichtexteditor .graphics-toolbar{
  position: absolute;
  background-color: rgba(200, 200, 200, 0.8);
  min-width: 350px;
}

.myrichtexteditor .graphics-toolbar md-checkbox {
  margin: 0;
}

.myrichtexteditor .graphics-toolbar .options {
  color: rgb(244,67,54);
}

.myrichtexteditor .toolbar a {
  padding: 0 4px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.myrichtexteditor .toolbar .mdi{
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;

}


.md-tab md-icon{
  font-size: 14px;
  line-height: 22px;
}

.tab-close {
  position: absolute;
  top: 0;
  right: 0;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysihtml5-editor{
  padding: 8px;
}

my-pdf-viewer{
  overflow:auto;
  padding: 1em 2em 1em 1em;
}

.edit-preview md-dialog-content{
  padding: 0;
  background-color: rgb(238,238,238);
  min-width: 500px;
}

.md-button.active{
  background-color: rgba(158,158,158,0.2);
}

.graphics-preview{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 300px;
  height: 200px;
  border: 1px solid #eee;
  margin: 1em;
}

.graphics-preview:hover {
  border: 2px solid rgb(244,67,54);
}

.graphics-preview-header{
  background-color: rgba(200, 200, 200, 0.6);
  padding: 0.2em;
  margin: 0;
}

.graphics-preview-header h3{
  margin: 0;
}

.printed-bar{
  background-color: rgb(244,67,54);
  color: #fff;
  min-height: 64px;
  height: 64px;
}

.printed-bar .md-select-label,
.printed-bar md-select:not([disabled]):focus .md-select-label{
  color: #fff;
}

#main-view{
  position: relative;
}

#latex-options{
  border-bottom: 1px solid #eee;
}

.scroll-frame{
  position: relative;
}
.scroll-section{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-width-limit{
  max-width: 1000px;
  margin: 0 auto;
}
.myrichtexteditor.page-width-limit{
  max-width: 800px;
  border: none;
  margin: 50px 100px 50px 100px;
  padding-bottom: 100px;
}

.myrichtexteditor.page-width-limit.empty{
  border: 1px solid #eee;
}

.user-online{
  margin: 0 0.5em;
}

.latex-errors{
  background-color: #fff;
}

.latex-errors .err{
  color: red;
}

.latex-errors .warn{
  color: orange;

}

.latex-errors .full{
  color: teal;
}

.main-toolbar{
  margin-bottom: 1px;
}

.fix-input md-input-container.md-input-focused label:not(.md-no-float),
.fix-input md-input-container.md-input-has-placeholder label:not(.md-no-float),
.fix-input md-input-container.md-input-has-value label:not(.md-no-float) {
  transform: translate3d(0, 11px, 0) scale(0.75);
}

.main-toolbar md-input-container{
  padding: 0 0 0 0;
}

.main-toolbar button {
  padding-top: 0;
  padding-bottom: 0;
}

.main-toolbar > div{
  min-height: 64px;
}

.CodeMirror {
  height: auto;
}

ui-codemirror.border .CodeMirror{
  border: 1px solid #eee;
}

code.border .CodeMirror, .code-editor .border{
  border: 1px solid #000;
}

/* fix pdf.js viewer css */
.pdfViewer .page {
  box-sizing: content-box;
}

.pdfViewer.removePageBorders .page {
  box-sizing: content-box;
}

.textLayer .highlight {
  box-sizing: content-box;
}

#logo {
  height: 48px;
  vertical-align: middle;
}

.options .color{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

.options .color.selected{
  border: 2px solid rgb(33,150,243);
}

.md-toolbar-tools h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grades .legend{
  font-size: 70%;
}

.grades .legend span{
  padding: 5px;
}

.grades table .md-button{
  margin: 0;
}

.grades tbody td, .grades tbody th{
  white-space: nowrap;
  padding: 0 4px;
}

.grades table md-input-container{
  padding-bottom: 0;
}

.grades .grade-max md-input-container{
  width: 60px;
}
.question-max{
  font-size: 80%;
  font-style: italic;
}
.grades .grade{
  font-weight: bold;
}
.grades .score{
  font-size: 80%;
}

tbody tr:hover {
  background-color: #E3F3FF;
}

.scan-options h4{
  margin: 0;
}

.scan-options p{
  margin-top: 4px;
}

.scan-options md-input-container{
  padding-bottom: 0;
}

@media screen and (max-width: 600px){
  .section-header md-input-container{
    width: 100px;
  }
  md-dialog{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .myrichtexteditor.page-width-limit {
    margin: 4px auto;
  }
}