<md-tabs md-dynamic-height>
    <md-tab label="Projects">
        <md-content>
            <md-card>
            <md-toolbar class="md-table-toolbar md-accent">
            <div class="md-toolbar-tools">
                <span>Projects ({{ctrl.projects.length}})</span>
            </div>
            </md-toolbar>
            <md-table-container>
            <table md-table md-progress="ctrl.promise">
                <thead md-head md-order="ctrl.tables.projects.order">
                <tr md-row>
                    <th md-column md-order-by="name"><span>Name</span></th>
                    <th md-column md-numeric md-order-by="size" style="width:200px"><span>Size (Mb)</span></th>
                    <th md-column md-numeric md-order-by="commits"><span>Commits</span></th>
                    <th md-column md-numeric md-order-by="students"><span>Students</span></th>
                    <th md-column md-numeric md-order-by="users.length"><span>Nb</span></th>
                    <th md-column>Users</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr ng-class="{'admin-error': p.error}" md-row ng-repeat="p in ctrl.projects | orderBy: ctrl.tables.projects.order | limitTo : ctrl.tables.projects.limit : ctrl.tables.projects.limit * (ctrl.tables.projects.page-1)">
                    <td md-cell>{{p.name}}</td>
                    <td md-cell ng-click="p.detail = !p.detail">{{p.size/1024 | number:1}}
                        <div ng-if="p.detail" layout="column">
                            <div ng-repeat="f in p.folders">
                                <div ng-repeat="(k,v) in f" layout="row">
                                    <span flex style="text-align:left;">{{k}}</span> <span>{{v/1024 | number:1}}</span>
                                </div>
                            </div>
                        </div>
                        <span ng-if="p.error == ctrl.ERROR_NO_FOLDER">{{ctrl.ERROR_NO_FOLDER}}</span>
                    </td>
                    <td md-cell>{{p.commits}}</td>
                    <td md-cell>{{p.students}}</td>
                    <td md-cell>{{p.users.length}}</td>
                    <td md-cell><span ng-repeat="u in p.users">{{u}}<span ng-hide="$last">, </span></span>
                        <span ng-if="p.error == ctrl.ERROR_NOT_IN_DB">{{ctrl.ERROR_NOT_IN_DB}}
                            <md-button ng-click="ctrl.importProject(p)">Import</md-button>
                        </span>
                        <md-button ng-if="p.users.indexOf(app.getUsername()) < 0" ng-click="ctrl.addToProject(p)">add self</md-button>
                        <md-button  ng-if="p.users.indexOf(app.getUsername()) > -1" ng-click="ctrl.removeFromProject(p)">remove self</md-button>
                    </td>
                </tr>
                </tbody>
            </table>
            </md-table-container>
            <md-table-pagination md-limit="ctrl.tables.projects.limit"
                md-limit-options="[10, 50, 100]" md-page="ctrl.tables.projects.page"
                md-total="{{ctrl.projects.length}}"
                md-page-select></md-table-pagination>
            </md-card>
        </md-content>
    </md-tab>
    <md-tab label="Users">
        <md-content>
            <md-card>
            <md-toolbar class="md-table-toolbar md-accent">
            <div class="md-toolbar-tools">
                <span>Users ({{ctrl.users.length}})</span>
            </div>
            </md-toolbar>
            <md-table-container>
            <table md-table md-progress="ctrl.promise">
                <thead md-head md-order="ctrl.tables.users.order">
                <tr md-row>
                    <th md-column md-order-by="username"><span>Username</span></th>
                    <th md-column md-numeric md-order-by="projects.length"><span>Nb</span></th>
                    <th md-column>Projects</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="u in ctrl.users | orderBy: ctrl.tables.users.order | limitTo : ctrl.tables.users.limit : ctrl.tables.users.limit * (ctrl.tables.users.page-1)">
                    <td md-cell>{{u.username}}</td>
                    <td md-cell>{{u.projects.length}}</td>
                    <td md-cell><span ng-repeat="p in u.projects">{{p}}<span ng-hide="$last">, </span></span></td>
                </tr>
                </tbody>
            </table>
            </md-table-container>
            <md-table-pagination md-limit="ctrl.tables.users.limit"
                md-limit-options="[10, 50, 100]" md-page="ctrl.tables.users.page"
                md-total="{{ctrl.users.length}}"
                md-page-select></md-table-pagination>
            </md-card>
        </md-content>
    </md-tab>
</md-tabs>