latex {
    font-family: monospace;
    white-space: pre;
    color: red;
    font-size: 16px;
}

pre {
    margin:0;
    display: inline;
}

img {
	width: 70%;
}
code {
    border: 1px solid black;
    padding: 4px;
}