<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css" />
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/pdfjs-dist/web/pdf_viewer.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="grademanagerApp" ng-controller="AppCtrl as app" layout="column">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h3>
          <a class="navbar-brand" href="#/">GradeManager</a>
          {{app.project()}}
        </h3>
        <span flex></span>
        <md-menu ng-show="app.isAuthed()">
          <md-button aria-label="Open phone interactions menu"  ng-click="$mdOpenMenu()" ng-bind="app.getUsername()"></md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="app.logout()">
                Logout
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

     <md-tabs class="md-whiteframe-z1" ng-hide="app.hideTabs" md-selected="app.tabIndex">
      <md-tab label="Edit" md-on-select="app.go('edit')"></md-tab>
      <md-tab label="Scan" md-on-select="app.go('scan')"></md-tab>
      <md-tab label="Grade" md-on-select="app.go('grade')"></md-tab>
      <md-tab label="Options" md-on-select="app.go('options')"></md-tab>
    </md-tabs>
    <div ui-view="" flex layout="row"></div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/wysihtml/dist/wysihtml-toolbar.js"></script>
    <script src="bower_components/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/google-diff-match-patch/diff_match_patch.js"></script>
    <script src="bower_components/pdfjs-dist/build/pdf.js"></script>
    <script src="bower_components/pdfjs-dist/build/pdf.worker.js"></script>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <!-- endbower -->
    <script src="bower_components/codemirror/mode/stex/stex.js"></script>
    <script src="bower_components/pdfjs-dist/web/compatibility.js"></script>
    <script src="bower_components/pdfjs-dist/web/pdf_viewer.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/app.js"></script>
        <script src="scripts/controllers/association.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/edit.js"></script>
        <script src="scripts/controllers/scan.js"></script>
        <script src="scripts/controllers/scanpreview.js"></script>
        <script src="scripts/controllers/grade.js"></script>
        <script src="scripts/controllers/options.js"></script>
        <script src="scripts/directives/panzoom.js"></script>
        <script src="scripts/services/api.js"></script>
        <script src="scripts/services/authinterceptor.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/lib/diffsync.js"></script>
        <script src="scripts/lib/wysihtml5/parser_rules_advanced.js"></script>
        <script src="scripts/directives/myrichtexteditor.js"></script>
        <script src="scripts/filters/htmltoplaintext.js"></script>
        <script src="scripts/services/exam.js"></script>
        <script src="scripts/directives/mypdfviewer.js"></script>
        <script src="scripts/controllers/editpreview.js"></script>
        <!-- endbuild -->
</body>
</html>
