<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grade Manager (AMC-UI)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="manifest.json">
<link rel="shortcut icon" href="favicon.ico">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="mstile-144x144.png">
<meta name="msapplication-config" content="browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<style>
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="bower_components/pdfjs-dist/web/pdf_viewer.css" />
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-cloak ng-app="grademanagerApp" ng-controller="AppCtrl as app" layout="column">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <md-toolbar md-scroll-shrink class="md-whiteframe-1dp">
      <div class="md-toolbar-tools">
        <h3>
          <a class="navbar-brand" href="#!/">
            <img src="images/auto-multiple-choice.svg" id="logo">
            Grade Manager (AMC-UI)</a>
            <span ng-show="app.project()">></span>
          <span ng-bind="app.project()"></span>
        </h3>
        <span flex></span>
        <md-menu ng-show="app.isAuthed()" ng-cloak>
          <md-button aria-label="Open phone interactions menu"  ng-click="$mdOpenMenu()" ng-bind="app.getUsername()"></md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="app.api.showProgressDialog()">
                Task progress
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="app.go('profile')">
                Edit profile
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="app.logout()">
                Logout
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <div class="md-whiteframe-z1" layout="row" layout-align="end center" ng-cloak>
        <md-tabs ng-hide="app.hideTabs" md-selected="app.tabIndex" flex>
            <md-tab label="Edit" md-on-select="app.go('edit')"></md-tab>
            <md-tab label="Scan" md-on-select="app.go('scan')" ng-disabled="app.api.options.users.length > 0 && !app.api.options.status.printed"></md-tab>
            <md-tab label="Grade" md-on-select="app.go('grade')"></md-tab>
            <md-tab label="Options" md-on-select="app.go('options')"></md-tab>
            <md-tab label="History" md-on-select="app.go('history')"></md-tab>
        </md-tabs>
        <div layout="row" ng-hide="app.hideTabs">
          <div class="user-online" ng-repeat="(id, user) in app.api.connected">
            <img ng-src="https://robohash.org/{{user.username}}?size=44x44">
            <md-tooltip>{{user.username}}</md-tooltip>
          </div>
        </div>
    </div>
    <div ui-view="" flex layout="column" id="main-view"></div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55173430-7', 'auto');
  ga('send', 'pageview');

</script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/wysihtml/dist/wysihtml-toolbar.js"></script>
    <script src="bower_components/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/pdfjs-dist/build/pdf.js"></script>
    <script src="bower_components/pdfjs-dist/web/compatibility.js"></script>
    <script src="bower_components/pdfjs-dist/web/pdf_viewer.js"></script>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="bower_components/google-diff-match-patch/diff_match_patch_uncompressed.js"></script>
    <!-- endbower -->
    <script src="bower_components/codemirror/mode/stex/stex.js"></script>
    <script src="bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="bower_components/codemirror/mode/css/css.js"></script>
    <script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="bower_components/codemirror/mode/clike/clike.js"></script>
    <script src="bower_components/codemirror/mode/python/python.js"></script>
    <script src="bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="bower_components/codemirror/mode/sql/sql.js"></script>
    <script src="bower_components/codemirror/addon/fold/xml-fold.js"></script>
    <script src="bower_components/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="bower_components/codemirror/addon/edit/closebrackets.js"></script>
    <script src="bower_components/codemirror/addon/edit/matchtags.js"></script>
    <script src="bower_components/codemirror/addon/edit/closetag.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="bower_components/u2f-api/u2f-api-polyfill.js"></script>
    <script src="bower_components/angular-ui-router/release/stateEvents.js"></script>
    <!-- endbuild -->

<script src="//cdn.ravenjs.com/3.20.0/angular/raven.min.js" crossorigin="anonymous"></script>
<script>
  if (window.hasOwnProperty('Raven')) {
    Raven.config('https://1e8632b672284ea09d094bcf0670addf@sentry.j42.org/6', {
        // we highly recommend restricting exceptions to a domain in order to filter out clutter
        whitelistUrls: [/amcui.ig.he-arc.ch/, /localhost/]
    }).install();
  } else {
    Raven = false;
  }
</script>

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/lib/json-search.js"></script>
      <script src="scripts/lib/diffsync.js"></script>
      <script src="scripts/lib/wysihtml5/parser_rules_advanced.js"></script>
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/app.js"></script>
      <script src="scripts/controllers/association.js"></script>
      <script src="scripts/controllers/home.js"></script>
      <script src="scripts/controllers/edit.js"></script>
      <script src="scripts/controllers/scan.js"></script>
      <script src="scripts/controllers/scanpreview.js"></script>
      <script src="scripts/controllers/grade.js"></script>
      <script src="scripts/controllers/options.js"></script>
      <script src="scripts/controllers/progressdialog.js"></script>
      <script src="scripts/controllers/promptdialog.js"></script>
      <script src="scripts/controllers/codeeditor.js"></script>
      <script src="scripts/controllers/editpreview.js"></script>
      <script src="scripts/controllers/graphicsmanager.js"></script>
      <script src="scripts/controllers/propertiesmanager.js"></script>
      <script src="scripts/controllers/profile.js"></script>
      <script src="scripts/controllers/history.js"></script>
      <script src="scripts/controllers/admin/stats.js"></script>
      <script src="scripts/directives/panzoom.js"></script>
      <script src="scripts/directives/myrichtexteditor.js"></script>
      <script src="scripts/directives/mypdfviewer.js"></script>
      <script src="scripts/directives/stringtonumber.js"></script>
      <script src="scripts/services/api.js"></script>
      <script src="scripts/services/authinterceptor.js"></script>
      <script src="scripts/services/auth.js"></script>
      <script src="scripts/services/exam.js"></script>
      <script src="scripts/filters/htmltoplaintext.js"></script>
      <script src="scripts/filters/join.js"></script>
      <script src="scripts/filters/unique.js"></script>

      <!-- endbuild -->
      <script>
        PDFJS.workerSrc = 'scripts/pdf.worker.min.js';
      </script>
</body>
</html>
