<md-dialog aria-label="Manual association">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Manual Association</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
        <md-icon class="mdi-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div ng-show="ctrl.match">
      <img ng-src="{{ctrl.nameSrc()}}">
      <md-autocomplete
        placeholder="Student name"
        md-no-cache="true"
        md-selected-item-change="ctrl.selectedItemChange(item)"
        md-search-text="ctrl.searchText"
        md-item-text="item.name"
        md-items="item in ctrl.students.data.filter(ctrl.filterUnmatched) | filter: ctrl.searchText" md-item-text="item.display">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          No matches found for "{{ctrl.searchText}}".
        </md-not-found>
      </md-autocomplete>
      <p class="md-caption">Unmatched: {{ctrl.unmatchedRemaining}}</p>
    </div>
    <div ng-hide="ctrl.match">
      Everything has a match.
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="ctrl.skip()">
     skip
    </md-button>
    <span flex></span>
    <md-button ng-click="ctrl.closeDialog()" class="md-primary">
     close
    </md-button>
  </md-dialog-actions>
</md-dialog>