<div ng-if="!editor.section" flex  layout-align="start center" layout="column">
  <h1>Loading...</h1>
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div layout="row" flex class="no-background" ng-if="editor.section">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"  md-is-locked-open="$mdMedia('gt-lg')">
    <md-toolbar class="md-accent md-whiteframe-z1" layout="row">
      <div class="md-toolbar-tools">
        <h3>{{editor.examService.exam.course}} - {{editor.examService.exam.session}}</h3>
      </div>
    </md-toolbar>
    <div flex class="scroll-frame">
    <md-content layout-padding class="scroll-section">
      <div ui-tree="editor.examMenuOptions">
        <ol ui-tree-nodes="" ng-model="editor.examService.exam.sections" data-type="section">
          <li class="section-menu" ng-repeat="section in editor.examService.exam.sections track by section.id" ng:init="parentIndex = $index" ui-tree-node>
            <div ui-tree-handle layout="row" ng-class="{'active': section == editor.section}">
              <p>{{section.number}} {{section.title}}</p>
              <span flex></span>
              <md-button aria-label="select section" data-nodrag ng-href="{{editor.linkToQuestion(section)}}" class="md-icon-button"><md-icon class="mdi-eye"></md-icon></md-button>
            </div>
            <ol ui-tree-nodes="" ng-model="section.questions" data-type="question">
              <li class="question-menu" ng-repeat="question in section.questions track by question.id" ui-tree-node>
                <div ui-tree-handle layout="row">
                  <div flex>
                    <strong layout-align="start center">
                      <md-icon class="mdi-alert invalid" ng-hide="question.isValid"></md-icon>  Question {{question.number}} <span ng-show="question.type == 'MULTIPLE'">♣</span>
                    </strong>
                    <em>{{question.content | htmlToPlaintext | limitTo: 50}}</em>
                  </div>
                  <md-button aria-label="select section" data-nodrag ng-href="{{editor.linkToQuestion(section, question)}}" class="md-icon-button"><md-icon class="mdi-eye"></md-icon></md-button>
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </md-content>
    </div>
  </md-sidenav>



  <div flex class="no-background" layout="column" ng-if="editor.section">
    <div ng-if="app.api.options.status.printed && !editor.hidePrintNotification" class="printed-bar" layout-padding layout="row" layout-align="center center">
      This project has been printed on {{app.api.options.status.printed | date: 'yyyy-MM-dd HH:mm'}}.
      <md-button class="md-raised md-primary"  ng-href="{{app.api.getDownloadZipURL()}}">Download Zip with all PDFs</md-button>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="editor.hidePrintNotification=true" aria-label="close message"><md-icon class="mdi-close"></md-icon></md-button>
    </div>

    <div ng-if="!editor.examService.exam.source" class="printed-bar" layout-padding layout="row" layout-align="center center">
      This project's templace file is empty! Select a template:
      <md-select  class="md-primary" placeholder="Template" ng-model="editor.chooseTemplate">
        <md-option  ng-repeat="name in ['HEG-QCM', 'HEG-OPEN', 'HEC-QCM']" value="{{name}}">{{name}}</md-option>
      </md-select>
      <md-button class="md-raised md-primary"  ng-click="editor.examService.loadTemplate(editor.chooseTemplate)">Load</md-button>
      <span flex></span>
    </div>

    <div class="section-options main-toolbar md-whiteframe-z1">
      <div layout="row" layout-wrap layout-align="center start" layout-sm="column" layout-padding>
        <md-button aria-label="toggle menu" class="md-icon-button" ng-hide="editor.leftNav().isLockedOpen()" ng-click="editor.leftNav().open()">
          <md-icon class="mdi-menu"></md-icon>
        </md-button>
        <md-input-container>
          <label>course</label>
          <input ng-model="editor.examService.exam.course">
        </md-input-container>
        <md-input-container>
          <label>session</label>
          <input ng-model="editor.examService.exam.session">
        </md-input-container>
        <md-input-container>
          <label>teacher</label>
          <input ng-model="editor.examService.exam.teacher">
        </md-input-container>
    	  <span flex></span>
        <div>
          {{editor.lastPreview | date: 'HH:mm:ss'}}
          <md-button aria-label="preview" ng-class="{'md-warn':  app.api.logs.preview.code>0}" ng-click="editor.showPreviewDialog($event)">{{editor.previewWait ? 'wait' : app.api.logs.preview.code == 0 ? 'Preview' : app.api.logs.preview.code > 0 ? 'error' : 'compiling'}}</md-button>
          <md-button aria-label="LaTeX options" class="md-primary" ng-class="{'active': editor.isLatexOptionVisible}" ng-click="editor.isLatexOptionVisible = !editor.isLatexOptionVisible">LaTeX options</md-button>
          <md-button aria-label="print" class="md-warn" ng-click="editor.examService.print()">Print</md-button>
        </div>
      </div>
    </div>

  <div flex ng-if="editor.isLatexOptionVisible" layout="column" class="scroll-frame">
    <md-tabs flex id="latex-options" md-selected="editor.selectedSourcePreview">
      <md-tab label="source.tex">
        <ui-codemirror class="border" ng-if="editor.selectedSourcePreview == 0" ui-codemirror-opts="editor.latexSourceOptions" ng-model="editor.examService.exam.source"></ui-codemirror>
      </md-tab>
      <md-tab>
        <md-tab-label>
           <md-icon class="mdi-lock"></md-icon> questions_definition.tex
        </md-tab-label>
        <md-tab-body>
          <ui-codemirror class="border" ng-if="editor.selectedSourcePreview == 1" ui-codemirror-opts="editor.latexPreviewOptions" ng-model="editor.examService.toLatex().questions_definition"></ui-codemirror>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
           <md-icon class="mdi-lock"></md-icon> questions_layout.tex
        </md-tab-label>
        <md-tab-body>
          <ui-codemirror class="border" ng-if="editor.selectedSourcePreview == 2" ui-codemirror-opts="editor.latexPreviewOptions" ng-model="editor.examService.toLatex().questions_layout"></ui-codemirror>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
           <md-icon class="mdi-lock"></md-icon> data.json
        </md-tab-label>
        <md-tab-body>
          <ui-codemirror class="border" ng-if="editor.selectedSourcePreview == 3" ui-codemirror-opts="editor.jsonPreviewOptions" ng-model="editor.examService.getJSON()"></ui-codemirror>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
           import
        </md-tab-label>
        <md-tab-body>
          <ui-codemirror class="border" ng-if="editor.selectedSourcePreview == 4" ui-codemirror-opts="editor.latexSourceOptions" ng-model="editor.importSource"></ui-codemirror>
          <div layout-padding>
            Past AMC Latex code here (amcui layout and question definition), then
            <md-button ng-click="editor.examService.importLatex(editor.importSource)" class="md-raised md-primary">Import</md-button>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    <md-button aria-label="close" class="tab-close md-icon-button" ng-click="editor.isLatexOptionVisible = false"><md-icon class="mdi-close"></md-icon></md-button>
  </div>
<div flex class="scroll-frame" ng-hide="editor.isLatexOptionVisible">
<md-content class="section scroll-section" layout-padding>
<div class="page-width-limit">
  <div class="md-whiteframe-z1">
      <div class="md-whiteframe-z1" id="q0">
    		<div layout="row" class="section-header" layout-align="space-around center">
          <md-button aria-label="previous" class="md-primary" ng-show="editor.previousSection()" ng-click="editor.section = editor.previousSection()" ng-bind="editor.previousSection().title"></md-button>
          <span flex></span>
          <h3>{{editor.section.number}}</h3>
          <md-input-container md-no-float>
              <input type="text" ng-model="editor.section.title" placeholder="Section title"/>
            </md-input-container>
          <span flex></span>
          <md-button aria-label="next or new" class="md-primary" ng-click="editor.section = editor.nextSection(true)" ng-bind="editor.nextSection().title"></md-button>
    		</div>

        <div layout="row" class="section-options"  layout-wrap  layout-align="start center">
          <md-select  class="md-primary" placeholder="Level" ng-model="editor.section.level">
            <md-option ng-repeat="(key, value) in {'Level 1': 0, 'Level 2': 1, 'Level 3': 2}" value="{{value}}">{{key}}</md-option>
          </md-select>
          <md-checkbox class="md-primary" ng-model="editor.section.isNumbered" ng-disabled="editor.section.isSectionTitleVisibleOnAMC">Show number</md-checkbox>
          <md-checkbox class="md-primary" ng-model="editor.section.isSectionTitleVisibleOnAMC" ng-change="editor.section.isSectionTitleVisibleOnAMC ? editor.section.isNumbered=true : ''">On answer sheet</md-checkbox>
          <md-checkbox class="md-primary" ng-model="editor.section.shuffle">Shuffle</md-checkbox>
          <md-select  class="md-primary" placeholder="Columns" ng-model="editor.section.columns">
            <md-option ng-repeat="(key, value) in {'One column': 1, 'Two columns': 2}" value="{{value}}">{{key}}</md-option>
          </md-select>
          <md-checkbox class="md-primary" ng-model="editor.section.pageBreakBefore">Page break before</md-checkbox>
          <span flex></span>
          <md-button aria-label="delete section" class="md-warn" ng-click="editor.removeSection(editor.section)"><md-icon class="mdi-delete"></md-icon></md-button>
        </div>
      </div>
      <my-rich-text-editor class="page-width-limit" ng-model="editor.section.content"></my-rich-text-editor>
  </div>

      <div ng-class="{'two-columns': editor.section.columns == 2}">
          <div class="question md-whiteframe-z1 {{question.type}}" ng-repeat="question in editor.section.questions track by question.id">
              <div>
                <div class="question-header" layout="row" layout-padding>
                  <h3 id="q{{question.number}}"><md-icon class="mdi-alert invalid" ng-hide="question.isValid" title="Need answers"></md-icon>
                   Question {{question.number}} <span ng-show="question.type == 'MULTIPLE'">♣</span></h3>
                </div>
                <div layout="row" layout-wrap class="section-options md-whiteframe-z1" layout-align="start center">
                  <md-select placeholder="Type" ng-model="question.type">
                    <md-option ng-repeat="value in ['SINGLE', 'MULTIPLE', 'OPEN']" value="{{value}}">{{value}}</md-option>
                  </md-select>
                  <md-select   ng-if="question.type == 'SINGLE' || question.type == 'MULTIPLE'" placeholder="Layout" ng-model="question.layout">
                    <md-option ng-repeat="(key, value) in {'VERTICAL': 'VERTICAL', 'HORIZONTAL': 'HORIZONTAL'}" value="{{value}}">{{key}}</md-option>
                  </md-select>
                  <md-checkbox  ng-if="question.type == 'SINGLE' || question.type == 'MULTIPLE'" class="md-primary" ng-model="question.ordered">Ordered</md-checkbox>
                  <md-input-container  class="question-scoring" ng-if="question.type == 'SINGLE' || question.type == 'MULTIPLE'">
                    <label>scoring</label>
                    <input ng-model="question.scoring">
                  </md-input-container>
                  <md-button  aria-label="scoring help" ng-if="question.type == 'SINGLE' || question.type == 'MULTIPLE'" class="md-primary md-icon-button" href="http://home.gna.org/auto-qcm/auto-multiple-choice.en/graphical-interface.shtml#bareme" target="_blank"><md-icon class="mdi-help-circle"></md-icon></md-button>
                  <md-checkbox ng-if="question.type == 'OPEN'" class="md-primary" ng-model="question.dots">Dots</md-checkbox>
                  <md-input-container  ng-if="question.type == 'OPEN'">
                    <label>lines</label>
                    <input ng-model="question.lines" type="number" min="1">
                  </md-input-container>
                  <md-input-container  ng-if="question.type == 'OPEN'">
                    <label>Points</label>
                    <input ng-model="question.points" type="number" min="1">
                  </md-input-container>
                  <md-button title="copy question" aria-label="copy question" class="md-primary md-icon-button" ng-click="editor.examService.copyQuestion(editor.section, question)"><md-icon class="mdi-content-copy"></md-icon></md-button>
                  <span flex></span>
                  <md-button aria-label="delete question" class="md-warn" ng-click="editor.examService.removeQuestion(editor.section, question)"><md-icon class="mdi-delete"></md-icon></md-button>
                </div>
              </div>

              <my-rich-text-editor ng-model="question.content"></my-rich-text-editor>

              <div ng-if="question.type == 'SINGLE' || question.type == 'MULTIPLE'" layout="{{question.layout == 'HORIZONTAL' ? 'row' : 'column'}}"  layout-padding
                  layout-align="{{question.layout == 'HORIZONTAL' ? 'center start' : ''}}" ng-class="{'answer-horizontal': question.layout == 'HORIZONTAL'}">
                <div ng-repeat="answer in question.answers track by answer.id" class="answer" layout="row">
                    <label layout-padding class="answer-toggle"><input type="checkbox" ng-model="answer.correct"><md-icon ng-class="{'mdi-close': !answer.correct, 'mdi-check': answer.correct}"></md-icon></label>
                    <my-rich-text-editor ng-model="answer.content" flex></my-rich-text-editor>
                    <md-button aria-label="delete answer" class="md-warn" ng-click="editor.examService.removeAnswer(question, answer)"><md-icon class="mdi-delete"></md-icon></md-button>
                </div>
                <div class="answer" layout="row" ng-if="question.type == 'MULTIPLE'">
                  <label layout-padding class="answer-toggle"><input type="checkbox"><md-icon ng-class="{'mdi-close': !editor.questionIsNoneCorrect(question), 'mdi-check': editor.questionIsNoneCorrect(question)}"></md-icon></label>
                  <div flex layout-padding class="myrichtexteditor answer-none">None of the above</div>
                  <md-button aria-label="delete answer" class="md-warn" ng-disabled="'true'"><md-icon class="mdi-delete"></md-icon></md-button>
                </div>
              </div>
              <div ng-if="question.type == 'SINGLE' || question.type == 'MULTIPLE'"  class="section-options answer-add">
                <md-button aria-label="add new answer" class="md-primary" ng-click="editor.examService.addAnswer(question)">Add Answer</md-button>
              </div>

              <div ng-if="question.type == 'OPEN'" layout="row" layout-align="end center" class="answer-open-points">
                <div class="circle" ng-class="{'last': $last}" ng-repeat-start="p in editor.range(1 + question.points) track by $index"></div>
                <div class="point" ng-repeat-end>{{$index}}{{$index > 1 ? 'pts' : 'pt'}}</div>
              </div>
              <div ng-if="question.type == 'OPEN'" class="answer-open">
                <p ng-class="{'dots': question.dots}" ng-repeat="p in editor.range(question.lines) track by $index">&nbsp;</p>
              </div>
          </div>
      </div>

      <div class="section-options md-whiteframe-z1 question-add">
        <md-button aria-label="add new question" class="md-primary" ng-click="editor.examService.addQuestion(editor.section)">Add Question</md-button>
      </div>
</div>
    </md-content>
</div>
  </div>
</div>

<!--
<md-icon class="mdi-message"></md-icon>
<md-icon class="mdi-message-text"></md-icon>
<md-icon class="mdi-forum"></md-icon>
<md-icon class="mdi-view-list"></md-icon>
<md-icon class="mdi-view-module"></md-icon>
<md-icon class="mdi-settings"></md-icon>
<md-icon class="mdi-eye"></md-icon>
<md-icon class="mdi-format-list-numbers"></md-icon>
<md-icon class="mdi-file-document"></md-icon>
<md-icon class="mdi-shuffle"></md-icon>
<md-icon class="mdi-dots-horizontal"></md-icon>
<md-icon class="mdi-dots-vertical"></md-icon>
<md-icon class="mdi-check"></md-icon>
<md-icon class="mdi-close"></md-icon>
<md-icon class="mdi-menu"></md-icon>
<md-icon class="mdi-plus"></md-icon>
<md-icon class="mdi-upload"></md-icon>
<md-icon class="mdi-download"></md-icon>
<md-icon class="mdi-code-tags"></md-icon>
<md-icon class="mdi-printer"></md-icon>
-->
