<div layout="row" flex class="no-background">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"  md-is-locked-open="$mdMedia('gt-lg')">
    <md-toolbar class="md-accent md-whiteframe-z2" layout="row">
      <div class="md-toolbar-tools">
        <h3>{{editor.examService.exam.course}} - {{editor.examService.exam.session}}</h3>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <div ui-tree="editor.examMenuOptions">
        <ol ui-tree-nodes="" ng-model="editor.examService.exam.sections" data-type="section">
          <li class="section-menu" ng-repeat="section in editor.examService.exam.sections track by section.id" ng:init="parentIndex = $index" ui-tree-node>
            <div ui-tree-handle layout="row" ng-class="{'active': section == editor.section}">
              <p>{{section.number}} {{section.title}}</p>
              <span flex></span>
              <md-button aria-label="select section" data-nodrag ng-click="editor.section = section" class="md-icon-button"><md-icon class="mdi-eye"></md-icon></md-button>
            </div>
            <ol ui-tree-nodes="" ng-model="section.questions" data-type="question">
              <li class="question-menu" ng-repeat="question in section.questions track by question.id" ui-tree-node>
                <div ui-tree-handle>
                  <strong><md-icon class="mdi-alert invalid" ng-hide="question.isValid"></md-icon>  Question {{question.number}}</strong>
                  <em>{{question.content | htmlToPlaintext | limitTo: 30}}...</em>
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </md-content>
  </md-sidenav>

  <div flex class="no-background" layout="column">
    <md-toolbar class="md-accent md-whiteframe-z1" layout="row">
      <div class="md-toolbar-tools">
        <md-button aria-label="toggle menu" class="md-icon-button" ng-hide="editor.leftNav().isLockedOpen()" ng-click="editor.leftNav().open();">
          <md-icon class="mdi-menu"></md-icon>
        </md-button>
        <h2><input ng-model="editor.examService.exam.course" placeholder="course"> - <input ng-model="editor.examService.exam.session" placeholder="session"></h2>
    	  <span flex></span>
        <md-button aria-label="preview" class="md-raised" ng-click="editor.preview()">Preview</md-button>
        <md-button aria-label="Latex" class="" ng-click="editor.preview()">LaTeX options</md-button>
        <md-button aria-label="print" class="md-raised md-warn" ng-click="editor.print()">Print</md-button>
      </div>
    </md-toolbar>
  <!-- <img ng-src="{{editor.pageSrc(p)}}" ng-repeat="p in editor.preview.pages"/> -->

  <!-- TODO: points -->

    <md-content class="section" layout-padding>
  		<div layout="row" class="md-whiteframe-z1">
        <md-button aria-label="previous" class="md-primary md-raised" ng-show="editor.previousSection()" ng-click="editor.section = editor.previousSection()" ng-bind="editor.previousSection().title"></md-button>
        <span flex></span>
        <h3>{{editor.section.number}}
        <input type="text" ng-model="editor.section.title"/></h3>
        <md-button aria-label="delete section" class="md-warn" ng-click="editor.removeSection(editor.section)"><md-icon class="mdi-delete"></md-icon></md-button>
        <span flex></span>
        <md-button aria-label="next or new" class="md-primary md-raised" ng-click="editor.section = editor.nextSection(true)" ng-bind="editor.nextSection().title"></md-button>
  		</div>
      <div layout="row" class="section-options md-whiteframe-z2">
        <md-select placeholder="Level" ng-model="editor.section.level">
          <md-option ng-repeat="(key, value) in {'Level 1': 0, 'Level 2': 1, 'Level 3': 2}" value="{{value}}">{{key}}</md-option>
        </md-select>
        <md-checkbox ng-model="editor.section.isNumbered" ng-disabled="editor.section.isSectionTitleVisibleOnAMC">Show number</md-checkbox>
        <md-checkbox ng-model="editor.section.isSectionTitleVisibleOnAMC" ng-change="editor.section.isSectionTitleVisibleOnAMC ? editor.section.isNumbered=true : ''">Visible in answer sheet</md-checkbox>
        <md-checkbox ng-model="editor.section.shuffle">Shuffle questions</md-checkbox>
        <md-select placeholder="Columns" ng-model="editor.section.columns">
          <md-option ng-repeat="(key, value) in {'One column': 1, 'Two columns': 2}" value="{{value}}">{{key}}</md-option>
        </md-select>
      </div>
      <my-rich-text-editor ng-model="editor.section.content" graphics="editor.examService.exam.graphics"></my-rich-text-editor>

      <div ng-class="{'two-columns': editor.section.columns == 2}">
          <div class="question md-whiteframe-z1" ng-repeat="question in editor.section.questions track by question.id">
              <div layout="row" layout-padding>
                <h3><md-icon class="mdi-alert invalid" ng-hide="question.isValid"></md-icon>
                 Question {{question.number}}</h3>
                 <span flex></span>
                <md-button aria-label="delete question" class="md-warn" ng-click="editor.examService.removeQuestion(editor.section, question)"><md-icon class="mdi-delete"></md-icon></md-button>
              </div>
              <div layout="row"  class="section-options md-whiteframe-z1">
                <md-select placeholder="Type" ng-model="question.type">
                  <md-option ng-repeat="(key, value) in {'SINGLE': 'SINGLE', 'MULTIPLE': 'MULTIPLE', 'OPEN': 'OPEN', 'NUMBERCHOICE': 'NUMBERCHOICE'}" value="{{value}}">{{key}}</md-option>
                </md-select>
                <md-select placeholder="Layout" ng-model="question.layout">
                  <md-option ng-repeat="(key, value) in {'VERTICAL': 'VERTICAL', 'HORIZONTAL': 'HORIZONTAL'}" value="{{value}}">{{key}}</md-option>
                </md-select>
              </div>

              <my-rich-text-editor ng-model="question.content" graphics="editor.examService.exam.graphics"></my-rich-text-editor>

              <div layout="{{question.layout == 'HORIZONTAL' ? 'row' : 'column'}}"  layout-padding>
                <div ng-repeat="answer in question.answers track by answer.id" class="answer" layout="row">
                    <label class="answer-toggle"><input type="checkbox" ng-model="answer.correct"><md-icon ng-class="{'mdi-close': !answer.correct, 'mdi-check': answer.correct}"></md-icon></label>

                    <my-rich-text-editor ng-model="answer.content" graphics="editor.examService.exam.graphics" flex></my-rich-text-editor>
                    <md-button aria-label="delete answer" class="md-warn" ng-click="editor.examService.removeAnswer(question, answer)"><md-icon class="mdi-delete"></md-icon></md-button>
                </div>
              </div>
              <div class="section-options md-whiteframe-z1">
                <md-button aria-label="add new answer" class="md-raised md-primary" ng-click="editor.examService.addAnswer(question)">Add Answer</md-button>
              </div>
          </div>
      </div>
      <div class="section-options md-whiteframe-z1 question-add">
        <md-button aria-label="add new question" class="md-raised md-primary" ng-click="editor.examService.addQuestion(editor.section)">Add Question</md-button>
      </div>

<textarea style="width:100%;height:300px">
{{editor.examService.toLatex()}}
</textarea>

<textarea ng-model="editor.preview.log"></textarea>
<md-icon class="mdi-message"></md-icon>
<md-icon class="mdi-message-text"></md-icon>
<md-icon class="mdi-forum"></md-icon>
<md-icon class="mdi-view-list"></md-icon>
<md-icon class="mdi-view-module"></md-icon>
<md-icon class="mdi-settings"></md-icon>
<md-icon class="mdi-eye"></md-icon>
<md-icon class="mdi-format-list-numbers"></md-icon>
<md-icon class="mdi-file-document"></md-icon>
<md-icon class="mdi-shuffle"></md-icon>
<md-icon class="mdi-dots-horizontal"></md-icon>
<md-icon class="mdi-dots-vertical"></md-icon>
<md-icon class="mdi-check"></md-icon>
<md-icon class="mdi-close"></md-icon>
<md-icon class="mdi-menu"></md-icon>
<md-icon class="mdi-plus"></md-icon>
<md-icon class="mdi-upload"></md-icon>
<md-icon class="mdi-download"></md-icon>
<md-icon class="mdi-file-image-box"></md-icon>
<md-icon class="mdi-file-xml"></md-icon>
<md-icon class="mdi-format-italic"></md-icon>
<md-icon class="mdi-format-bold"></md-icon>
<md-icon class="mdi-printer"></md-icon>
    </md-content>
  </div>
</div>
<!--
    preview
    option-> template list
    custom template
    preview files, edit files -> disable edit
    upload custom project -> disable edit
    print nb series
    d/l zipped?
  -->