<md-dialog aria-label="Preview Document" class="edit-preview">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Preview Document</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
        <md-icon class="mdi-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content flex layout="column">
    <my-pdf-viewer ng-hide="isLogVisible" ng-if="ctrl.api.logs.preview.code == 0" pdf="{{ctrl.previewSrc()}}" viewer="ctrl.pdfViewer" flex></my-pdf-viewer>
    <div class="latex-errors" ng-show="isLogVisible || ctrl.api.logs.preview.code != 0">
        <div layout-padding>
          <h3>Error</h3>
          <div class="err" ng-repeat="err in ctrl.getErr() | unique">{{err}}</div>
          <h3>Warning</h3>
          <div class="warn" ng-repeat="err in ctrl.getWarn() | unique">{{err}}</div>
          <h3>Over/Underfull</h3>
          <div class="full" ng-repeat="err in ctrl.getFull() | unique">{{err}}</div>
        </div>
        <ui-codemirror ui-codemirror-opts="ctrl.logOptions" ng-model="ctrl.api.logs.preview.log"></ui-codemirror>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span ng-if="ctrl.api.logs.preview.code == 0">{{ctrl.pdfViewer.currentPageNumber}} / {{ctrl.pdfViewer.pagesCount}}</span>
    <md-button class="md-primary" ng-if="ctrl.api.logs.preview.code == 0" ng-href="{{ctrl.previewSrc()}}">download</md-button>
    <md-button ng-click="isLogVisible = !isLogVisible">log</md-button>
    <span flex></span>
    <md-button ng-click="ctrl.closeDialog()" class="md-primary">
     close
    </md-button>
  </div>
</md-dialog>