<!--
There must be at least one column named name or surname.

%S
is replaced by the student's total score.
%M
is replaced by the maximum total score.
%s
is replaced by the student's mark.
%m
is replaced by the maximum mark.
%(ID)
is replaced by the student's name.
%(COL)
is replaced by the value of column COL in the students list for the curent student.

highlight impossible? missing? confirm reviewed
-->
<div class="no-background" flex layout="column">
  <div ng-if="app.api.options.status.annotated && !grade.hidePrintNotification" class="printed-bar" layout-padding layout="row" layout-align="center center">
    This project has been annotaed on {{app.api.options.status.annotated | date: 'yyyy-MM-dd HH:mm'}}.
    <md-button class="md-raised md-primary"  ng-href="{{app.api.getAnnotateZipURL()}}">Download Zip with annotated PDFs</md-button>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="grade.hidePrintNotification=true" aria-label="close message"><md-icon class="mdi-close"></md-icon></md-button>
  </div>
  <div class="section-options" layout-padding layout="column" style="position: relative">
    <md-input-container class="no-error-input-container" style="max-height:400px;overflow:auto;"  ng-hide="grade.hideAdd">
      <label>Paste CSV data or drop a file</label>
      <textarea ng-model="grade.pasteData" id="dropbox"></textarea>
    </md-input-container>
    <div layout="row" class="no-padding" ng-hide="grade.hideAdd">
      <md-button class="md-primary" ng-click="grade.parsePasteData()">Add to Students</md-button>
      <md-button class="md-primary" ng-click="grade.parseAsNewFile()">Add as new file</md-button>
      <span flex></span>
      <md-button class="md-warn" ng-click="grade.export()">export</md-button>
    </div>
    <md-button ng-show="grade.hideAdd" ng-click="grade.hideAdd = !grade.hideAdd">CSV Options</md-button>
    <md-button ng-hide="grade.hideAdd" ng-click="grade.hideAdd = !grade.hideAdd" aria-label="close" class="md-icon-button tab-close"><md-icon class="mdi-close"></md-icon></md-button>
  </div>
  <md-progress-linear ng-if="grade.isLoading" md-mode="indeterminate"></md-progress-linear>
  <md-tabs flex md-selected="grade.tabIndex" ng-if="!grade.isLoading">
    <md-tab label="Students">
      <section class="grades">
        <div ng-if="grade.students.data.length > 0 && grade.table">
          <h4>Datatable</h4>
          <table>
            <tr>
              <th></th>
              <th class="text-right" ng-repeat="c in grade.table[0] track by $index">{{c | number: 0}}</th>
            </tr>
            <tr>
              <th class="text-left">AVG</th>
              <td class="text-right" ng-repeat="c in grade.table[1] track by $index">{{c | number: 2}}</td>
            </tr>
            <tr>
              <th class="text-left">Pass</th>
              <td class="text-right" ng-repeat="c in grade.table[2] track by $index">{{c | number: 0}}%</td>
            </tr>
            <tr>
              <th class="text-left">Remed</th>
              <td class="text-right" ng-repeat="c in grade.table[3] track by $index">{{c | number: 0}}%</td>
            </tr>
            <tr>
              <th class="text-left">Fail</th>
              <td class="text-right" ng-repeat="c in grade.table[4] track by $index">{{c | number: 0}}%</td>
            </tr>
          </table>
        </div>
        <table>
          	<thead>
          		<tr>
                <th></th>
                <th ng-repeat="col in grade.students.fields track by $index">
                  <div layout="row" layout-align="start end">
                    <span>{{col}}</span>
                    <md-button class="button-remove"aria-label="rename column" ng-click="grade.renameColumn($event, grade.students.fields, $index, grade.students.data)" ng-hide="col == 'id'"><md-icon class="mdi-pencil"></md-icon></md-button>
                    <md-button aria-label="remove column" ng-click="grade.removeCol(col)" class="md-warn button-remove" ng-hide="col == 'id'"><md-icon class="mdi-close"></md-icon></md-button>
                  </div>
                </th>
                <th class="text-left">
                  <md-input-container  class="md-block no-error-input-container" style="width:185px;">
                    <label>Final grade formula</label>
                    <input ng-blur="app.api.saveOptions()" ng-model="app.api.options.options.final_grade_formula" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                  </md-input-container>
                </th>
                <th class="text-left grade-max">
                  <md-input-container class="md-block no-error-input-container">
                    <label>Points</label>
                    <input string-to-number class="text-right" ng-blur="app.api.saveOptions()" ng-model="app.api.options.options.points_max" ng-change="grade.dataTable({variable: app.api.options.options.points_max, formula: grade.test})" min="0" type="number">
                  </md-input-container>
                </th>
                <th>Total<br/>
                  <span class="question-max">(max:{{grade.maxPoints}})</span>
                  <md-button ng-class="{'md-raised': grade.displayQuestions}" ng-click="grade.displayQuestions = !grade.displayQuestions">show all</md-button>
                </th>
                <th class="score" ng-if="grade.displayQuestions" ng-repeat="(qtitle, value) in grade.questions track by $index">
                  {{qtitle}}<br/><span class="question-max">(max:{{value.max}})</span></th>
          		</tr>
          	</thead>
            <tbody>
              <tr ng-repeat="u in grade.unmatched track by $index">
                <td colspan="{{grade.students.fields.length + 1}}"><md-button class="md-primary" aria-label="manual association" ng-click="grade.showAssociationDialog($event, u)">manual match</md-button></td>
                <td></td>
                <td class="text-right grade">{{grade.grade(grade.unmatched[u.key].total, app.api.options.options.points_max, app.api.options.options.note_min, app.api.options.options.note_max, 'round', app.api.options.options.note_grain) | number: 2}}</td>
                <td class="text-right">{{grade.unmatched[u.key].total}}</td>
                <td class="text-right score why-{{grade.whys[grade.unmatched[u.key].key + ':' + value.question]}}"
                    ng-repeat="(qtitle, value) in grade.questions track by $index">
                    <a ng-href="#/{{grade.project}}/scan/{{grade.unmatched[u.key].student}}/{{value.page}}:{{grade.unmatched[u.key].copy}}">
                    {{grade.unmatched[u.key].questions[qtitle]}}</a></td>
              </tr>
              <tr ng-repeat="s in grade.students.data track by $index">
                <td class="no-wrap">
                  <md-button aria-label="remove student" ng-click="grade.removeStudent(s)" class="md-warn button-remove"><md-icon class="mdi-close"></md-icon></md-button>
                  <md-button ng-show="grade.scores[s.id]" aria-label="view annotated" ng-click="grade.annotateScore(grade.scores[s.id])" class="md-accent button-remove"><md-icon class="mdi-eye"></md-icon></md-button>
                </td>
                <td ng-class="{'text-right': col=='id'}" ng-repeat="col in grade.students.fields track by $index">{{s[col]}}</td>
                <td class="text-right grade" ng-class="{'grade-fail': s.FinalGrade < 3.5, 'grade-pass': s.FinalGrade >= 4, 'grade-remed': s.FinalGrade >=3.5 && s.FinalGrade < 4}">{{grade.calculate(s, 'FinalGrade', app.api.options.options.final_grade_formula)}}</td>
                <td class="text-right grade" ng-class="{'grade-fail': s.Grade < 3.5, 'grade-pass': s.Grade >= 4, 'grade-remed': s.Grade >=3.5 && s.Grade < 4}">{{grade.scores[s.id].hasOwnProperty('total') ? grade.valueSaver(s, 'Grade', grade.grade(grade.scores[s.id].total,app.api.options.options.points_max, app.api.options.options.note_min, app.api.options.options.note_max, 'round', app.api.options.options.note_grain)) : 0}}</td>
                <td class="text-right">{{grade.valueSaver(s, 'Total', grade.scores[s.id].total)}}</td>
                <td ng-if="grade.displayQuestions" class="text-right score why-{{grade.whys[grade.scores[s.id].key + ':' + value.question]}}"
                  ng-repeat="(qtitle, value) in grade.questions track by $index">
                  <a ng-href="#/{{grade.project}}/scan/{{grade.scores[s.id].student}}/{{value.page}}:{{grade.scores[s.id].copy}}">
                  {{grade.scores[s.id].questions[qtitle]}}</a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th><md-button class="md-raised md-warn" ng-click="grade.annotateAll()">Annotate All</md-button></th>
                <th ng-class="{'text-right': col=='id'}" ng-repeat="col in grade.students.fields track by $index">
                  {{col=='id' ? grade.students.data.length : (grade.avgTotalStudent(col) | number: 2)}}
                </th>
                <th class="text-right">{{grade.avgTotalStudent('FinalGrade') | number: 2}}</th>
                <th class="text-right">{{grade.avgTotalStudent('Grade') | number: 2}}</th>
                <th class="text-right">{{grade.avgTotal()}}</th>
                <th ng-if="grade.displayQuestions" class="text-right score"
                    ng-repeat="(qtitle, value) in grade.questions track by $index">
                    {{grade.avgQuestion(qtitle) / value.max * 100 | number: 0}}%</th>
              </tr>
            </tfoot>
        </table>
        <div class="legend">
          <p><span class="why-E">E</span> means syntax error (several boxes ticked for a simple question, or " none of the above" AND another box ticked for a multiple question).</p>
          <p><span class="why-V">V</span> means that no box are ticked.</p>
          <p><span class="why-P">P</span> means that a floor has been applied.</p>
        </div>
      </section>
    </md-tab>

    <md-tab label="Stats">
      <div class="section-options md-whiteframe-z1" layout="row">
        <md-button aria-label="sort title" class="md-primary" ng-click="grade.statsOrder='title'">order by question</md-button>
        <md-button aria-label="sort mean"  class="md-primary" ng-click="grade.statsOrder='avg'">order by mean</md-button>
        <md-button aria-label="catalog"  class="md-primary" ng-href="{{app.linkTo('catalog.pdf')}}">Download Catalog.pdf</md-button>
      </div>
      <div ng-if="grade.tabIndex == 1" layout="row" layout-wrap>
        <div class="question-stat" ng-repeat="q in grade.stats| orderBy:grade.statsOrder">
          <h2 ng-bind="q.title"></h2>
          <div><b>total:</b> {{q.total}} <b>mean:</b> {{(q.avg*100).toFixed(2)}}%</div>
          <div class="answer-dist">
            <div ng-repeat="a in q.answers" ng-style="{width: a.nb/q.total*100 +'%'}" class="answer-stat correct-{{a.correct}}" layout="row"><span flex>{{a.answer}} {{a.nb}}</span><span>{{(a.nb/q.total*100).toFixed(2)}}%</span></div>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="{{file.name.substring(0,20)}}" ng-repeat="file in grade.files">
      <md-content ng-if="grade.tabIndex == $index + 2">
        <div class="section-options no-error-input-container" layout-padding>
          <div layout="row" layout-sm="column">
          <md-input-container flex>
            <label>StudentLookup</label>
            <input ng-model="file.studentLookup" ng-model-options="{ updateOn: 'blur' }" ng-blur="grade.save()">
          </md-input-container>
          <md-input-container>
            <label>test student id</label>
            <input ng-model="file.demoid"  ng-blur="grade.save()">
          </md-input-container>
          <p>{{grade.demoStudent(file)}}</p>
          </div>
          <div layout="row" layout-sm="column">
            <md-input-container flex>
              <label>CurrentFileLookup</label>
                <input ng-model="file.fileLookup" ng-model-options="{ updateOn: 'blur' }" ng-blur="grade.save()">
            </md-input-container>
            <md-button class="md-warn" ng-click="grade.import(file)">import selected columns</md-button>
          </div>
        </div>
        <table>
        	<thead>
        		<tr>
              <th class="no-wrap">Student Match</th>
              <th class="no-wrap">Lookup Value</th>
        			<th ng-repeat="key in file.meta.fields track by $index">
                <div layout="row" class="no-wrap">
                  <md-checkbox class="md-primary" ng-model="file.meta.selected[$index]" ng-change="grade.save()" >{{key}}</md-checkbox>
                  <md-button class="button-remove"aria-label="rename column" ng-click="grade.renameColumn($event, file.meta.fields, $index, file.data)"><md-icon class="mdi-pencil"></md-icon></md-button>
                  <md-button aria-label="remove column" ng-click="file.meta.fields.splice($index, 1);grade.save();" class="md-warn button-remove" ng-hide="col == 'id'"><md-icon class="mdi-close"></md-icon></md-button>
                </div>
              </th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr ng-repeat="row in file.data">
              <td>
{{
grade.lookup(row, file.fileLookup, file.studentLookup).join(', ')
}}
              </td>
              <td>
{{
grade.makeFunc(file.fileLookup)(row)
}}
              </td>
        			<td ng-repeat="key in file.meta.fields track by $index">{{row[key]}}</td>
        		</tr>
        	</tbody>
        </table>
        <md-button class="md-raised md-warn" ng-click="grade.removeFile(file)">Remove file</md-button>
      </md-content>
    </md-tab>
  </md-tabs>
</div>