<!--
There must be at least one column named name or surname.

%S
is replaced by the student's total score.
%M
is replaced by the maximum total score.
%s
is replaced by the student's mark.
%m
is replaced by the maximum mark.
%(ID)
is replaced by the student's name.
%(COL)
is replaced by the value of column COL in the students list for the curent student.

highlight impossible? missing? confirm reviewed
-->
<div class="no-background" flex layout="column">
  <div ng-if="app.api.options.status.annotated && !grade.hidePrintNotification" class="printed-bar" layout-padding layout="row" layout-align="center center">
    This project has been annotaed on {{app.api.options.status.annotated | date: 'yyyy-MM-dd HH:mm'}}.
    <md-button class="md-raised md-primary"  ng-href="{{app.api.getAnnotateZipURL()}}">Download Zip with annotated PDFs</md-button>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="grade.hidePrintNotification=true" aria-label="close message"><md-icon class="mdi-close"></md-icon></md-button>
  </div>

  <div id="dropbox">
  	DROPZONE
  </div>
  <textarea ng-change="grade.parsePasteData()" ng-model="grade.pasteData"></textarea>
  <md-tabs flex>
    <md-tab label="Students">
      <section class="grades">
        <div ng-if="grade.students.data.length > 0 && grade.table">
          <h4>Datatable</h4>
          <table>
            <tr>
              <th></th>
              <th class="text-right" ng-repeat="c in grade.table[0] track by $index">{{c | number: 0}}</th>
            </tr>
            <tr>
              <th class="text-left">AVG</th>
              <td class="text-right" ng-repeat="c in grade.table[1] track by $index">{{c | number: 2}}</td>
            </tr>
            <tr>
              <th class="text-left">Pass</th>
              <td class="text-right" ng-repeat="c in grade.table[2] track by $index">{{c | number: 0}}%</td>
            </tr>
            <tr>
              <th class="text-left">Remed</th>
              <td class="text-right" ng-repeat="c in grade.table[3] track by $index">{{c | number: 0}}%</td>
            </tr>
            <tr>
              <th class="text-left">Fail</th>
              <td class="text-right" ng-repeat="c in grade.table[4] track by $index">{{c | number: 0}}%</td>
            </tr>
          </table>
        </div>
        <table>
          	<thead>
          		<tr>
                <th></th>
                <th ng-repeat="col in grade.students.fields track by $index">{{col}} <md-button aria-label="remove column" ng-click="grade.removeCol(col)" class="md-warn button-remove" ng-hide="col == 'id'"><md-icon class="mdi-close"></md-icon></md-button></th>
                <th>NoteFinal</th>
                <th>NoteCC</th>
                <th>NoteExa <input ng-model="max" ng-change="grade.dataTable({variable: max, formula: grade.test})"></th>
                <th>Total</th>
                <th ng-repeat="(qtitle, value) in grade.questions track by $index">
                  {{qtitle}}<br/>(max:{{value.max}})</th>
          		</tr>
          	</thead>
            <tbody>
              <tr ng-repeat="u in grade.unmatched track by $index">
                <td colspan="{{grade.students.fields.length + 1}}"><md-button aria-label="manual association" ng-click="grade.showAssociationDialog($event, u)">manual match</md-button></td>
                <td></td>
                <td></td>
                <td class="text-right">{{grade.grade(grade.unmatched[u.key].total, max, 1, 6, 'round', 0.1)}}</td>
                <td class="text-right">{{grade.unmatched[u.key].total}}</td>
                <td class="text-right score why-{{grade.whys[grade.unmatched[u.key].key + ':' + value.question]}}"
                    ng-repeat="(qtitle, value) in grade.questions track by $index">
                    <a ng-href="#/{{grade.project}}/scan/{{grade.unmatched[u.key].student}}/{{value.page}}:{{grade.unmatched[u.key].copy}}">
                    {{grade.unmatched[u.key].questions[qtitle]}}</a></td>
              </tr>
              <tr ng-repeat="s in grade.students.data track by $index">
                <td class="no-wrap">
                  <md-button aria-label="remove student" ng-click="grade.removeStudent(s)" class="md-warn button-remove"><md-icon class="mdi-close"></md-icon></md-button>
                  <md-button ng-show="grade.scores[s.id]" aria-label="view annotated" ng-click="grade.annotateScore(grade.scores[s.id])" class="md-accent button-remove"><md-icon class="mdi-eye"></md-icon></md-button>
                </td>
                <td ng-class="{'text-right': col=='id'}" ng-repeat="col in grade.students.fields track by $index">{{s[col]}}</td>
                <td></td>
                <td></td>
                <td class="text-right">{{grade.scores[s.id].total ? grade.grade(grade.scores[s.id].total, max, 1, 6, 'round', 0.1) : 0 | number: 2}}</td>
                <td class="text-right">{{grade.scores[s.id].total}}</td>
                <td class="text-right score why-{{grade.whys[grade.scores[s.id].key + ':' + value.question]}}"
                  ng-repeat="(qtitle, value) in grade.questions track by $index">
                  <a ng-href="#/{{grade.project}}/scan/{{grade.scores[s.id].student}}/{{value.page}}:{{grade.scores[s.id].copy}}">
                  {{grade.scores[s.id].questions[qtitle]}}</a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th><md-button class="md-raised md-accent" ng-click="grade.annotateAll()">Annotate All</md-button></th>
                <th ng-class="{'text-right': col=='id'}" ng-repeat="col in grade.students.fields track by $index"></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{grade.avgTotal()}}</th>
                <th class="text-right"
                    ng-repeat="(qtitle, value) in grade.questions track by $index">
                    {{grade.avgQuestion(qtitle) / value.max * 100 | number: 0}}%</th>
              </tr>
            </tfoot>
        </table>
      </section>
    </md-tab>

    <md-tab label="Stats">
      <md-button aria-label="sort title" class="md-raised" ng-click="grade.statsOrder='title'">order q</md-button>
      <md-button aria-label="sort mean"  class="md-raised" ng-click="grade.statsOrder='avg'">order mean</md-button>
      <md-button aria-label="catalog"  class="md-raised" ng-href="{{app.linkTo('catalog.pdf')}}">Get Catalog</md-button>
      <div class="question" ng-repeat="q in grade.stats| orderBy:grade.statsOrder">
        <h2 ng-bind="q.title"></h2>
        <div>total: {{q.total}} mean: {{(q.avg*100).toFixed(2)}}%</div>
        <div class="answer-dist">
          <div ng-repeat="a in q.answers" ng-style="{width: a.nb/q.total*100 +'%'}" class="correct-{{a.correct}}">{{a.answer}}.{{a.nb}}.{{(a.nb/q.total*100).toFixed(2)}}%</div>
        </div>
      </div>

    </md-tab>
    <md-tab label="{{file.name.substring(0,20)}}" ng-repeat="file in grade.files">
      <md-content>
        <table>
        	<thead>
        		<tr>
        			<th ng-repeat="key in file.meta.fields track by $index">
                {{key}}
                <md-button class="" ng-click="grade.calculate(file, $index)">calculate</md-button>
              </th>
              <th>
                <textarea ng-model="grade.source"></textarea>
                <textarea ng-model="grade.idx"></textarea>
                <textarea ng-model="grade.match"></textarea>
                <textarea ng-model="grade.display"></textarea>

              </th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr ng-repeat="row in file.data">
        			<td ng-repeat="(key, value) in row">{{value}}
                <span ng-if="file.meta.calculated[$index]">
                  {{grade[file.meta.calculated[$index].type](row, key, row[file.meta.calculated[$index].source], file.meta.calculated[$index].targetFile, file.meta.calculated[$index].match, file.meta.calculated[$index].display)}}
                </span>
              </td>
              <td></td>
              <td ng-if="row.Group">{{grade.vLookup(row.Group, grade.idx, 'groupe', 'note')}}</td>
        		</tr>
        	</tbody>
        </table>
        <md-button class="md-raised md-warn" ng-click="grade.removeFile(file)">Remove</md-button>
      </md-content>
    </md-tab>
  </md-tabs>
</div>