<md-dialog aria-label="Graphics Manager" class="graphics-manager">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Graphics Manager</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
                <md-icon class="mdi-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content >
        <md-button ngf-drop ngf-select ng-model="ctrl.files" class="md-raised md-accent drop-box"
              ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">
              Drop pdfs or images here or click to upload</md-button>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <md-input-container class="md-block">
			<label>Search</label>
			<input ng-model="ctrl.search">
		</md-input-container>
        <div class="thumb-container" layout="row" layout-wrap  ngf-drop  ng-model="ctrl.files"  ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">
            <div class="graphics-preview" ng-click="ctrl.insertGraphics(item)"
                ng-style="{'background-image': ctrl.progress[item.id].progress < 100 ? 'none' : 'url(' + ctrl.examService.graphicsPreviewURL(item.id) + ')'}"
                ng-repeat="item in ctrl.graphics | filter: {'name': ctrl.search} track by $index">
                <div class="graphics-preview-header" layout="row" layout-align="center center">
                    <h3 flex>{{item.name}}</h3>
                    <md-button ng-hide="ctrl.progress[item.id].progress < 100" class="md-icon-button md-warn" ng-click="ctrl.deleteGraphics(item); $event.stopPropagation();">
                        <md-icon class="mdi-delete" aria-label="delete graphics"></md-icon>
                    </md-button>
                </div>
                <div ng-show="ctrl.progress[item.id].progress < 100">
                    <h4>Uploading</h4>
                    <md-progress-linear md-mode="determinate" value="{{ctrl.progress[item.id].progress}}"></md-progress-linear>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.closeDialog()" class="md-primary">
         close
        </md-button>
    </md-dialog-actions>
</md-dialog>