<md-content layout-padding class="no-background" layout-align="start center" layout="column" flex>
	<form ng-hide="home.isAuthed()" ng-submit="home.login()">
		<md-card>
			<md-card-content>
				<md-input-container>
					<label>Username</label>
					<input ng-model="home.username" ng-required="true">
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input ng-model="home.password" type="password" ng-required="true">
				</md-input-container>
				<ng-messages for="home.error" role="alert">
				  <ng-message when="error">{{home.error.error}}</ng-message>
				</ng-messages>
			</md-card-content>
			 <div class="md-actions" layout="row" layout-align="end center">
		        <md-button class="md-primary" ng-click="home.login()">Login</md-button>
				<md-button ng-click="home.login()">Create</md-button>
		      </div>
		</md-card>
	</form>
	<div ng-show="home.isAuthed()" class="projects">
		<md-card>
			<md-card-content>
				<form ng-submit="home.createProject()" layout="row" layout-align="center center">
					<md-input-container>
						<label>Project name</label>
						<input ng-model="home.newProjectName" ng-required="true">
					</md-input-container>
					<ng-messages for="home.error" role="alert">
					  <ng-message when="error">{{home.error.error}}</ng-message>
					</ng-messages>
					<md-button class="md-primary md-raised">Create Project</md-button>
				</form>
				<h2>Projects</h2>
				<md-input-container>
					<label>Search</label>
					<input ng-model="home.search">
				</md-input-container>
				<table ng-show="home.projects.length > 0">
					<thead>
						<tr>
							<th colspan="2">Name</th>
							<th>Status</th>
							<th>Collaborators</th>
							<th class="text-right">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr class="subheader" ng-show="item.short != (home.projects | filter: {'project': home.search})[$index-1].short" ng-repeat-start="item in home.projects | filter: {'project': home.search}">
							<td colspan="5">

								{{item.short}}</td>
						</tr>
						<tr class="project" ng-repeat-end ng-click="home.openProject(item)">
							<td><md-checkbox aria-label="{{item.project}}"></md-checkbox></td>
							<td><b>{{item.project}}</b></td>
							<td>
								<span ng-show="item.status.printed && !item.status.annotated">printed</span>
								<span ng-show="item.status.annotated">annotated</span>
							</td>
							<td>{{item.users | join: ', '}}</td>
							<td class="text-right">
								<md-button ng-click="home.openProject(item);$event.stopPropagation();" title="open" class="md-primary md-icon-button" aria-label="copy project"><md-icon class="mdi-eye"></md-icon></md-button>
								<md-button ng-click="home.copyProject($event, item);$event.stopPropagation();" title="copy" class="md-primary md-icon-button" aria-label="copy project"><md-icon class="mdi-content-copy"></md-icon></md-button>
							</td>
						</tr>
					</tbody>
				</table>

				<md-list ng-hide="home.projects.length > 0">
					<md-list-item >No projects found!</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
</md-content>
