<md-content layout-padding class="no-background" layout-align="start center" layout="column" flex>
	<form ng-hide="home.isAuthed()" ng-submit="home.login()">
		<md-card>
			<md-card-content>
				<md-input-container>
					<label>Username</label>
					<input ng-model="home.username" ng-required="true">
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input ng-model="home.password" type="password" ng-required="true">
				</md-input-container>
				<ng-messages for="home.error" role="alert">
				  <ng-message when="error">{{home.error.error}}</ng-message>
				</ng-messages>
			</md-card-content>
			 <div class="md-actions" layout="row" layout-align="end center">
		        <md-button class="md-primary" ng-click="home.login()">Login</md-button>
				<md-button ng-click="home.login()">Create</md-button>
		      </div>
		</md-card>
	</form>
	<div ng-show="home.isAuthed()">
		<md-card>
			<md-card-content>
				<form ng-submit="home.createProject()" layout="row" layout-align="center center">
					<md-input-container>
						<label>Project name</label>
						<input ng-model="home.newProjectName" ng-required="true">
					</md-input-container>
					<ng-messages for="home.error" role="alert">
					  <ng-message when="error">{{home.error.error}}</ng-message>
					</ng-messages>
					<md-button class="md-primary md-raised">Create Project</md-button>
				</form>
				<h2>Projects</h2>
				<md-input-container>
					<label>Search</label>
					<input ng-model="home.search">
				</md-input-container>
				<md-list>
					<md-list-item layout="row">
						<b flex>Name</b>
						<b>Status&nbsp;</b>
						<b>Action</b>
					</md-list-item>
					<md-subheader class="md-no-sticky" ng-show="item.short != (home.projects | filter: {'project': home.search})[$index-1].short" ng-repeat-start="item in home.projects | filter: {'project': home.search}">{{item.short}}</md-subheader>
				    <md-list-item ng-repeat-end ng-click="home.openProject(item)">
						<md-checkbox aria-label="{{item.project}}"></md-checkbox>
						<span flex>{{item.project}}</span>
						<span ng-show="item.status.printed && !item.status.annotated">printed</span>
						<span ng-show="item.status.annotated">annotated</span>
						<md-button ng-click="home.copyProject($event, item);$event.stopPropagation();" title="copy" class="md-primary md-icon-button" aria-label="copy project"><md-icon class="mdi-content-copy"></md-icon></md-button>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					<md-list-item ng-hide="home.projects.length > 0">No projects found!</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
</md-content>
