<div class="myrichtexteditor" layout-padding>
    <div class="toolbar md-whiteframe-z1 hide" layout="row" layout-align="start center">
        <a data-wysihtml5-command="bold" title="CTRL+B"><md-icon class="mdi-format-bold"></md-icon></a>
        <a data-wysihtml5-command="italic" title="CTRL+I"><md-icon class="mdi-format-italic"></md-icon></a>
        <a data-wysihtml5-command="ttfont"><md-icon class="mdi-format-text"></md-icon></a>
        <a data-wysihtml5-command="latex">LaTeX</a>
        <a data-wysihtml5-command="insertUnorderedList"><md-icon class="mdi-format-list-bulleted"></md-icon></a>
        <a data-wysihtml5-command="justifyCenter"><md-icon class="mdi-format-align-center"></md-icon></a>
        <a ng-mousedown="$event.preventDefault();showGraphicsManager($event)" href="javascript:;"><md-icon class="mdi-file-image-box"></md-icon></a>
        <a data-wysihtml5-command="insertCode" data-wysihtml5-command-value='<div class="code"></div>'><md-icon class="mdi-file-xml"></a>
        <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="box">box</a>
        <a data-wysihtml5-command="insertHTML" data-wysihtml5-command-value="<hr/>">page break</a>
        <a data-wysihtml5-action="change_view">switch view</md-icon></a>
    </div>
    <textarea ng-model="content" ng-model-options="{ updateOn: 'blur'}" class="hide"></textarea>
	<div class="preview"></div>
    <div class="graphics-toolbar hide" layout="row" ng-mousedown="$event.preventDefault()" layout-align="center center">
        <md-checkbox class="md-primary" ng-mousedown="$event.preventDefault();" ng-model="graphics.border">Border</md-checkbox>
        <div ng-show="!graphics.options" layout="row" layout-align="center center">
            <md-button  aria-label="narrower" class="md-icon-button" ng-mousedown="$event.preventDefault();graphics.width=graphics.width-0.1"><md-icon class="mdi-minus"></md-icon></md-button>
            <p>{{graphics.width*100|number:0}}%</p>
            <md-button aria-label="wider" class="md-icon-button" ng-mousedown="$event.preventDefault();graphics.width=graphics.width+0.1"><md-icon class="mdi-plus"></md-icon></md-button>
        </div>
        <div class="options" ng-show="graphics.options" ng-mousedown="$event.preventDefault();showGraphicsSettings($event, graphics)">
            {{graphics.options}}
        </div>
        <md-button aria-label="options" class="md-icon-button" ng-mousedown="$event.preventDefault();showGraphicsSettings($event, graphics)"><md-icon class="mdi-settings"></md-icon></md-button>
        <span flex></span>
        <md-button aria-label="close" class="md-icon-button" ng-mousedown="$event.preventDefault();closeGraphicsToolbar()"><md-icon class="mdi-close"></md-icon></md-button>
    </div>
</div>