<div class="myrichtexteditor" layout-padding>
    <div class="toolbar hide">
        <a data-wysihtml5-command="bold" title="CTRL+B">bold</a>
        <a data-wysihtml5-command="italic" title="CTRL+I">italic</a>
        <a data-wysihtml5-command="ttfont">TT</a>
        <a data-wysihtml5-command="latex">LaTeX</a>
        <a data-wysihtml5-command="insertUnorderedList">List</a>
        <a class="insertImage"  ng-mousedown="$event.preventDefault();addGraphics()" href="javascript:;" >img</a>
        <a data-wysihtml5-command="insertCode" data-wysihtml5-command-value='<div class="code"></div>'>code</a>
        <a data-wysihtml5-command="insertHTML" data-wysihtml5-command-value="<hr/>">newPage</a>
        <a data-wysihtml5-action="change_view">switch view</a>
    </div>
    <textarea ng-model="content" ng-model-options="{ updateOn: 'blur'}" class="hide"></textarea>
	<div class="preview"></div>
    <div class="graphics-toolbar hide" layout="row" ng-mousedown="$event.preventDefault()" layout-align="center center">
        <md-checkbox ng-mousedown="$event.preventDefault();" ng-model="graphics.border">Border</md-checkbox>
        <md-button  aria-label="narrower" class="md-icon-button" ng-mousedown="$event.preventDefault();graphics.width=graphics.width-0.1"><md-icon class="mdi-minus"></md-icon></md-button>
        <p>{{graphics.width*100|number:0}}%</p>
        <md-button aria-label="wider" class="md-icon-button" ng-mousedown="$event.preventDefault();graphics.width=graphics.width+0.1"><md-icon class="mdi-plus"></md-icon></md-button>
        <span flex></span>
        <md-button aria-label="close" class="md-icon-button" ng-mousedown="$event.preventDefault();closeGraphicsToolbar()"><md-icon class="mdi-close"></md-icon></md-button>
    </div>
</div>