<div class="editor">
    <div class="toolbar hide">
        <a data-wysihtml5-command="bold" title="CTRL+B">bold</a>
        <a data-wysihtml5-command="italic" title="CTRL+I">italic</a>
        <a data-wysihtml5-command="ttfont">TT</a>
        <a data-wysihtml5-command="latex">LaTeX</a>
        <a class="insertImage" href="javascript:;" >img</a>
        <a data-wysihtml5-command="insertCode" data-wysihtml5-command-value='<div class="code"></div>'>code</a>
        <a data-wysihtml5-action="change_view">switch view</a>
    </div>
    <textarea ng-model="content"></textarea>
	<div class="preview"></div>
</div>