<div flex class="scroll-frame">
<md-content layout="column" class="no-background scroll-section options" layout-padding>
	<h2>Collaborators</h2>
	<md-chips ng-model="ctrl.options.users" placeholder="add another username" secondary-placeholder="+username"></md-chips>

	<h2>Raw exports</h2>
	<p>
		<md-button class="md-raised md-primary" ng-href="{{ctrl.downloadURL}}">Download <small>project.zip</small></md-button>
		<md-button class="md-raised md-primary" ng-href="{{ctrl.downloadODSURL}}">Download <small>export.ods</small> </md-button>
		<md-button class="md-raised md-primary" ng-href="{{ctrl.downloadCSVURL}}">Download <small>students.csv</small></md-button>
	</p>

	<h2>Options</h2>
	<p>
		<md-button class="md-warn md-raised" ng-click="ctrl.saveOptions()">Save Options</md-button>
	</p>
	<h3>Print</h3>
	<md-input-container>
		<label>Nb of copies</label>
		<input ng-model="ctrl.options.options.nombre_copies" string-to-number type="number" ng-blur="ctrl.saveOptions()">
	</md-input-container>
	<p>
		<md-checkbox ng-change="ctrl.saveOptions()" class="md-primary" ng-model="ctrl.options.options.split" ng-true-value="'1'" ng-false-value="'0'">Print answersheet in separate file.</md-checkbox>
	</p>

	<h3>Scan</h3>
	<p>
		Threshold: {{ctrl.options.options.seuil * 100 | number: 0}}% black filled
		<md-slider ng-change="ctrl.saveOptions()" class="md-primary" md-discrete string-to-number ng-model="ctrl.options.options.seuil" min="0" max="1" step="0.05" aria-label="threshold"></md-slider>
		When one uses a separate answer sheet, letters or digits use at least 0.5.
	</p>
	<p>
		<b>Type of scans</b>
		<md-select  ng-disabled="true" class="md-primary" placeholder="Type of scans" ng-model="ctrl.options.options.auto_capture_mode">
	      <md-option value="0">Different answer sheets</md-option>
	      <md-option value="1">Some answer sheets were photocopied</md-option>
	    </md-select>
	</p>

	<h3>Annotation</h3>
	<md-input-container class="md-block no-error-input-container">
		<label>Annotation filename pattern</label>
		<input ng-model="ctrl.options.options.modele_regroupement" ng-blur="ctrl.saveOptions()">
	</md-input-container>
	<p>(ID) is replaced by the student's name.<br/>
		(N) is replaced by the student number.<br/>
		(<i>COLNAME</i>) any other column name in the student.csv</p>

	<div>
		Click to add:
		<md-chips md-on-select="ctrl.addColToFilename($chip)" md-removable="false" ng-model="ctrl.fields"></md-chips></div>

	<md-input-container class="no-padding md-block no-error-input-container" style="margin-top: 3em;">
		<label>Annotation</label>
		<textarea ng-model="ctrl.options.options.verdict" ng-blur="ctrl.saveOptions()"></textarea>
	</md-input-container>
	<p>
		%(ID) is replaced by the student's name.<br/>
		%(COLNAME) is replaced by the value of column COLNAME in the students list for the current student.<br/>
		%S is replaced by the student's total score.<br/>
		%M is replaced by the maximum total score.<br/>
		%s is replaced by the student's mark.<br/>
		%m is replaced by the maximum mark.</p>

    <div>
		Click to add:
		<md-chips md-on-select="ctrl.addColToAnnotation($chip)" md-removable="false" ng-model="ctrl.fields"></md-chips></div>

	<h4>Annotation marks</h4>
	<table>
		<tr>
			<th>Preview</th>
			<th>To be ticked</th>
			<th>Ticked</th>
			<th>Type</th>
			<th>Color</th>
		</tr>
		<tr>
			<td><md-icon ng-style="{color: ctrl.options.options.symbole_0_0_color}" ng-class="{'mdi-close': ctrl.options.options.symbole_0_0_type == 'mark', 'mdi-checkbox-blank-outline': ctrl.options.options.symbole_0_0_type == 'box', 'mdi-checkbox-blank-circle-outline': ctrl.options.options.symbole_0_0_type == 'circle'}"></md-icon></td>
			<td>no</td>
			<td>no</td>
			<td>
				<md-select  ng-change="ctrl.saveOptions()" class="md-primary" placeholder="type" ng-model="ctrl.options.options.symbole_0_0_type">
              		<md-option  ng-repeat="value in ::ctrl.types" value="{{value}}">{{value}}</md-option>
            	</md-select>
			</td>
			<td><span class="color" ng-click="ctrl.options.options.symbole_0_0_color = color;ctrl.saveOptions()" ng-repeat="color in ::ctrl.colors" ng-style="{'background-color': color}" ng-class="{'selected': ctrl.options.options.symbole_0_0_color == color}"></span></td>
		</tr>
        <tr>
            <td><md-icon ng-style="{color: ctrl.options.options.symbole_0_1_color}" ng-class="{'mdi-close': ctrl.options.options.symbole_0_1_type == 'mark', 'mdi-checkbox-blank-outline': ctrl.options.options.symbole_0_1_type == 'box', 'mdi-checkbox-blank-circle-outline': ctrl.options.options.symbole_0_1_type == 'circle'}"></md-icon></td>
            <td>no</td>
            <td>yes</td>
            <td>
                <md-select  ng-change="ctrl.saveOptions()" class="md-primary" placeholder="type" ng-model="ctrl.options.options.symbole_0_1_type">
                      <md-option  ng-repeat="value in ::ctrl.types" value="{{value}}">{{value}}</md-option>
                </md-select>
            </td>
            <td><span class="color" ng-click="ctrl.options.options.symbole_0_1_color = color;ctrl.saveOptions()" ng-repeat="color in ::ctrl.colors" ng-style="{'background-color': color}" ng-class="{'selected': ctrl.options.options.symbole_0_1_color == color}"></span></td>
        </tr>
        <tr>
            <td><md-icon ng-style="{color: ctrl.options.options.symbole_1_0_color}" ng-class="{'mdi-close': ctrl.options.options.symbole_1_0_type == 'mark', 'mdi-checkbox-blank-outline': ctrl.options.options.symbole_1_0_type == 'box', 'mdi-checkbox-blank-circle-outline': ctrl.options.options.symbole_1_0_type == 'circle'}"></md-icon></td>
            <td>yes</td>
            <td>no</td>
            <td>
                <md-select  ng-change="ctrl.saveOptions()" class="md-primary" placeholder="type" ng-model="ctrl.options.options.symbole_1_0_type">
                      <md-option  ng-repeat="value in ::ctrl.types" value="{{value}}">{{value}}</md-option>
                </md-select>
            </td>
            <td><span class="color" ng-click="ctrl.options.options.symbole_1_0_color = color;ctrl.saveOptions()" ng-repeat="color in ::ctrl.colors" ng-style="{'background-color': color}" ng-class="{'selected': ctrl.options.options.symbole_1_0_color == color}"></span></td>
        </tr>
        <tr>
            <td><md-icon ng-style="{color: ctrl.options.options.symbole_1_1_color}" ng-class="{'mdi-close': ctrl.options.options.symbole_1_1_type == 'mark', 'mdi-checkbox-blank-outline': ctrl.options.options.symbole_1_1_type == 'box', 'mdi-checkbox-blank-circle-outline': ctrl.options.options.symbole_1_1_type == 'circle'}"></md-icon></td>
            <td>yes</td>
            <td>yes</td>
            <td>
                <md-select ng-change="ctrl.saveOptions()" class="md-primary" placeholder="type" ng-model="ctrl.options.options.symbole_1_1_type">
                      <md-option  ng-repeat="value in ::ctrl.types" value="{{value}}">{{value}}</md-option>
                </md-select>
            </td>
            <td><span class="color" ng-click="ctrl.options.options.symbole_1_1_color = color;ctrl.saveOptions()" ng-repeat="color in ::ctrl.colors" ng-style="{'background-color': color}" ng-class="{'selected': ctrl.options.options.symbole_1_1_color == color}"></span></td>
        </tr>
	</table>

	<md-switch ng-model="showAllOptions" aria-label="show all options">
   		Display all options
  	</md-switch>
	<div ng-if="showAllOptions">
		<md-input-container ng-repeat="(key, value) in ctrl.options.options" class="md-block">
			<label>{{::key}}</label>
			<input ng-model="ctrl.options.options[key]" ng-if="::key !='verdict' && key != 'email_text'">
			<textarea ng-model="ctrl.options.options[key]" ng-if="::key =='verdict' || key =='email_text'"></textarea>
		</md-input-container>
	</div>
	<p>
		<md-button class="md-warn md-raised" ng-click="ctrl.saveOptions()">Save Options</md-button>
	</p>

	<h2>Danger</h2>
	<p>
		<md-button class="md-raised md-accent" ng-href="{{ctrl.scoringURL}}">Scoring <small>(force redo)</small></md-button>
		<md-button class="md-raised md-accent" ng-href="{{ctrl.markURL}}">Marking <small>(force redo)</small></md-button>
		<md-button class="md-raised md-warn" ng-href="{{ctrl.resetLockURL}}">Reset <small>project's server locks</small></md-button>
		<md-button class="md-raised md-accent" ng-href="" ng-click="ctrl.renameProject()">Rename project</md-button>
		<md-button class="md-raised md-warn" ng-href="" ng-click="ctrl.deleteProject()">Delete project!</md-button>
	</p>
</md-content>
</div>
