<md-dialog aria-label="prompt" class="prompt-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 ng-bind="ctrl.options.title"></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
          <md-icon class="mdi-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
	      <p>{{ctrl.options.content}}</p>
	      <md-input-container class="md-block">
          <label>{{ctrl.options.label}}</label>
          <input ng-model="ctrl.options.value">
        </md-input-container>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="ctrl.closeDialog()" class="md-primary">
     Cancel
    </md-button>
    <md-button ng-click="ctrl.saveDialog()" class="md-primary">
     Save
    </md-button>
  </md-dialog-actions>
</md-dialog>
