<div style="position:relative" flex layout="row">
  <md-button class="md-warn md-raised scan-reset" ng-click="preview.clear()"><md-tooltip>Remove manually set ticks</md-tooltip>remove manual</md-button>
  <svg pan-zoom version="1.1" flex
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink" viewBox="0 0 2480 3507">
    <image xlink:href="" ng-xlink:href="{{preview.pageSrc()}}" x="0" y="0" width="2480px" height="3507px" />
    <path ng-repeat="z in preview.zones" ng-attr-d="M {{z.x0}} {{z.y0}} L {{z.x1}} {{z.y1}} L {{z.x2}} {{z.y2}} L {{z.x3}} {{z.y3}} Z"
      ng-click="preview.toggle(z)" ng-attr-stroke="{{preview.ticked(z) && 'red' || 'blue'}}" fill="transparent" stroke-width="4" ng-attr-stroke-dasharray="{{z.manual > -1 && '6,3' || '0'}}"/>
  </svg>
</div>