<!--
  upload
filter
get sensitivity set threshold
edit on preview save db

When one uses a separate answer sheet, letters (or digits, if one uses the option digits,
One also has to tune the grey level threshold (defining the proportion of black dots in a box above which that box is considered to be checked)
to a value of order 0.5.
0.15 if ticked
0.5 if filled
-->
<div layout="row" flex>
  <div class="scan-pages" layout="column">
    <div layout-padding>
      <h3>Upload papers</h3>
      <md-button ngf-drop ngf-select ng-model="scan.files" class="md-raised md-accent drop-box"
          ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">
          Drop pdfs or images here or click to upload</md-button>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      <md-content class="upload-list">
        <p ng-repeat="f in scan.uploads track by $index">{{::f.name}}
          <md-progress-linear md-mode="determinate" value="{{f.progress}}"></md-progress-linear>
        </p>
      </md-content>
      <h3>Scanned papers</h3>

      <p>Complete: {{scan.missing.complete}} <span ng-show="scan.missing.incomplete > 0">Incomplete: {{scan.missing.incomplete}}</span></p>
      <div ng-show="scan.missing.missing.length > 0">
        Missing pages:
      <md-content class="scan-missing-list">

          <div ng-repeat="missing in scan.missing.missing track by $index">{{::missing.student}}/{{::missing.page}}<span ng-show="missing.copy > 0">:{{::missing.copy}}</span></div>
      </md-content>
      </div>
      <p ng-show="scan.missing.failed.length > 0">Failed pages:
        <div ng-repeat="failed in scan.missing.failed track by $index">{{::failed.filename}}</div>
      </p>
      <md-input-container md-no-float>
        <md-icon class="mdi-magnify"></md-icon>
        <input ng-model="scan.filter" type="text" placeholder="Filter">
      </md-input-container>
    </div>
    <md-content flex layout-padding md-scroll-y>
        <table>
          <thead>
            <tr>
              <th ng-class="{'sort-asc': scan.orderBy == 'id' && !scan.reverse, 'sort-desc': scan.orderBy == 'id' && scan.reverse}" ng-click="scan.sort('id')">Identifier
                <md-icon class="mdi-help-circle">
                  <md-tooltip>Student/Page/Copy green=auto blue=manual</md-tooltip></md-icon>
              </th>
              <th ng-class="{'sort-asc': scan.orderBy == 'timestamp_auto' && !scan.reverse, 'sort-desc': scan.orderBy == 'timestamp_auto' && scan.reverse}" ng-click="scan.sort('timestamp_auto')">Updated</th>
              <th ng-class="{'sort-asc': scan.orderBy == 'mse' && !scan.reverse, 'sort-desc': scan.orderBy == 'mse' && scan.reverse}" ng-click="scan.sort('mse')">MSD
                <md-icon class="mdi-help-circle">
                  <md-tooltip>The value MSD (mean square deviation) is an indication
                    of the good framing of the marks (the four black dots surrounding each copy).
                    When it is too great, the framing must be checked.</md-tooltip></md-icon>
              </th>
              <th ng-class="{'sort-asc': scan.orderBy == 's' && !scan.reverse, 'sort-desc': scan.orderBy == 's' && scan.reverse}" ng-click="scan.sort('s')">Sensitivity <md-icon class="mdi-help-circle">
                  <md-tooltip>The value sensitivity is an indicator of proximity of the filling of
                    the boxes with the threshold. If it is too great (from 8 to its max value 10),
                    we must check whether the boxes recognized as checked are the good ones.</md-tooltip></md-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in scan.pages | filter:{id:scan.filter} | orderBy: (scan.reverse?'-':'') + scan.orderBy" ng-click="scan.loadPage(p)" ng-class="::{active: scan.page.student == p.student && scan.page.page == p.page && scan.page.copy == p.copy}">
              <td ng-class="::{'manual': p.timestamp_manual > 0, 'auto': p.timestamp_auto > 0}">{{::p.student}}/{{::p.page}}<span ng-show="::p.copy > 0">:{{::p.copy}}</span> <md-icon class="mdi-close scan-delete" ng-click="scan.delete(p)"></md-icon></td>
              <td>{{::(p.timestamp_manual || p.timestamp_auto)*1000 | date:'yyyy-MM-dd HH:mm'}}</td>
              <td class="text-right" ng-class="::{'s-threshold': p.mse >=3}">{{::p.tm > 0 && '(' || ''}}{{::p.mse.toFixed(1)}}{{::p.tm > 0 && ')' || ''}}</td>
              <td class="text-right" ng-class="::{'s-threshold': p.s >= 8}">{{::p.s.toFixed(1)}}</td>
            </tr>
          </tbody>
          <tfoot ng-hide="scan.pages.length > 0">
            <td colspan="4">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </td>
          </tfoot>
        </table>
    </md-content>
  </div>
  <div ui-view="" class="scan-preview" flex layout="column" layout-padding>
    <div flex layout="column"  layout-align="center center">
      <h1>No page selected for preview</h1>
    </div>
  </div>
</div>